@import '../../styles/vars';

.chart__title {
  text-align: center;
  margin-bottom: .5rem;
}

.chart__singleAthlete {
  & :global(.recharts-xAxis .recharts-cartesian-axis-tick text) {
    fill: var(--purpleLight);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    transition: fill ease-in-out .3s;
    &:hover{
      fill: var(--purpleDark);
      text-decoration: none;
    }
  }

  & :global(.recharts-bar-rectangle) {
    cursor: pointer;
  }
}

.chart__baseTitle {
  @apply --appendSpace;

  color: var(--purpleDark);
}

.chart__compareName {
  color: var(--purpleLight);
}

.compare_container {
  margin: 1.5rem 0;
}

.chart__baseTitle__container,
.chart__singleYear__nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart__singleYear__nav {
  margin-bottom: .5rem;

  & :global(a) {
    font-weight: bold;
    margin-left: 1rem;

    &:first-of-type {
      margin-left: 0;
    }
  }
}

.compare__compareButton {
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
}

.compare_searchUsers {
  width: 320px;
  margin-right: 1rem;

  @media (--smallViewport) {
    margin-bottom: .5rem;
    margin-right: 0;
    max-width: 100%;
  }
}

.compare__searchContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  @media (--largeViewport) {
    height: 42px;
  }

  @media (--smallViewport) {
    flex-direction: column;
    align-items: center;
  }
}

.compare__searchContainer,
.chart__titleContainer {
  margin: 1.5rem 0;
}

.compare_closeSearchUsersButton {
  background: color(red lightness(60%));
}