@import '../../styles/vars';

.chart__title {
  text-align: center;
}

.chart__singleAthlete {
  & :global(.recharts-xAxis .recharts-cartesian-axis-tick text) {
    fill: var(--purpleLight);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    transition: fill ease-in-out .3s;
    &:hover{
      fill: var(--purpleDark);
      text-decoration: none;
    }
  }

  & :global(.recharts-bar-rectangle) {
    cursor: pointer;
  }
}

.chart__baseTitle {
  color: var(--purpleDark);
}

.chart__compareName {
  color: var(--purpleLight);
}

.compare_container {
  margin: 1.5rem 0;
}
.compare_searchUsers {
  width: 300px;
  margin-right: 1rem;
}

.compare_searchContainer {
  display: flex;
}

.compare_closeSearchUsersButton {
  background: color(red lightness(60%));
}