@import '../../styles/vars';

.chart__container {
  &.chart__container__selectFieldHidden {
    padding-top: 68px; /* field height + 2rem */
  }
}

.chart__title {
  text-align: center;
}

.chart__singleAthlete {
  & :global(.recharts-xAxis .recharts-cartesian-axis-tick text) {
    fill: var(--purpleLight);
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    transition: fill ease-in-out .3s;
    &:hover{
      fill: var(--purpleDark);
      text-decoration: none;
    }
  }

  & :global(.recharts-bar-rectangle) {
    cursor: pointer;
  }
}

.chart__baseTitle {
  @apply --appendSpace;

  color: var(--purpleDark);
}

.chart__compareName {
  color: var(--purpleLight);
}

.compare_container {
  margin: 1.5rem 0;
}

.chart__baseTitle__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.compare__compareButton {
  font-size: 1rem;
  line-height: 1rem;
  margin-left: 1rem;
}

.compare_searchUsers {
  width: 300px;
  margin-right: 1rem;
}

.compare__searchContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 1rem 0;
}

.compare_closeSearchUsersButton {
  background: color(red lightness(60%));
}