# Always ignore
.next/
node_module/
build/
dist/

# Ignore legacy code by default
/**/*.js

# Lint specific files/dirs as we go
!server.js
!server/initApiRoutes.js
!schema/**/*.js
!api/**/*.js
!utils/athleteStatsClient.js
!utils/v2/**/*.js
!utils/server/**/*.js

# V2 Pages
!pages/*_v2.js

# Components
!components/RiderPageHeader.js
!components/layouts/**/*.js
