# Always ignore
.next/
node_module/
build/
dist/

# Ignore legacy code by default
/**/*.js

# Lint specific files/dirs as we go
!server.js
!server/initApiRoutes.js
!schema/**/*.js
!api/**/*.js
!pages/rider_v2.js
!utils/athleteStatsClient.js
!utils/v2/**/*.js
!utils/server/**/*.js

# Components
!components/RiderPageHeader.js
