@import '../styles/vars';

:root {
  --footerInnerHeight: 24px;
  --footerHeight: calc(var(--baseSize) + var(--footerInnerHeight));
}

.footer {
  align-items: flex-end;
  background: var(--headerGradient);
  color: white;
  display: flex;
  font-size: .8rem;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;

  /* prevent collapse in wide, short window */
  height: var(--footerHeight);
  min-height: var(--footerHeight);

  & a {
    @apply --fadeLink;
  }

  & > * {
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.stravaCredit {
  height: var(--footerInnerHeight);
  width: auto;
}