@import '../styles/vars';

.footer {
  align-items: center;
  background: var(--headerGradient);
  color: white;
  display: flex;
  font-size: .8rem;
  justify-content: center;
  padding: 0.5rem;
  text-align: center;

  & a {
    @apply --fadeLink;
  }

  & > * {
    margin-right: 1rem;
  }

  &:last-child {
    margin-right: 0;
  }
}

.kadiscoSvg {
  height: 50px;
  width: auto;
}

.stravaCredit {
  height: 50px;
  width: auto;
}