@import '../styles/vars';

.header {
  background: var(--headerGradient);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.logo {
  color: white;
  font-size: 2.5rem;
  font-style: italic;
  font-weight: 800;
  text-transform: uppercase;

  @media (--smallViewport) {
    font-size: 1.5rem;
  }
}