@import '../styles/vars';

.header {
  background: var(--headerGradient);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .5rem 2rem;
  position: relative;

  @media (--smallViewport) {
    padding: .5rem 1rem;
  }
}

.logo {
  width: 300px;
  max-width: 65%;
  height: auto;
  line-height: 0;

  @media (--smallViewport) {
    max-width: 240px;
  }

  & > svg {
    width: 100%;
    height: auto;
  }

  /* fake transparent center on top of header gradient */
  & :global #fill-white {
    fill: rgb(171, 110, 210);
  }

  & :global #Horizontal-Text {
    fill: var(--purpleDark);
  }

  & :global #fill-white,
  & :global #Horizontal-Text {
    transition: fill ease-in-out .5s;
  }

  &:hover {
    & :global #fill-white,
    & :global #Horizontal-Text {
      fill: white;
    }
  }
}
