@import '../styles/vars';

:root {
  --headerVertPadding: .5rem;
  --headerLogoHeight: 60px;
  --headerLogoHeightSmall: 48px;
  --headerHeight: calc(var(--baseSize) + var(--headerLogoHeight));
  --headerHeightSmall: calc(var(--baseSize) + var(--headerLogoHeightSmall));
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: var(--headerVertPadding) 2rem;
  position: relative;

  /* Prevent collapse in wide, short window */
  height: var(--headerHeight);
  min-height: var(--headerHeight);

  @media (--smallViewport) {
    padding: var(--headerVertPadding) 1rem;
    height: var(--headerHeightSmall);
    min-height: var(--headerHeightSmall);
  }
}

.logo {
  line-height: 0;

  & > svg {
    width: auto;
    height: var(--headerLogoHeight);
    @media (--smallViewport) {
      height: var(--headerLogoHeightSmall);
    }
  }

  /* fake transparent center on top of header gradient */
  & :global #fill-white {
    fill: rgb(171, 110, 210);
  }

  & :global #Horizontal-Text {
    fill: var(--purpleDark);
  }

  & :global #fill-white,
  & :global #Horizontal-Text {
    transition: fill ease-in-out .5s;
  }

  &:hover {
    & :global #fill-white,
    & :global #Horizontal-Text {
      fill: white;
    }
  }
}
