@import '../styles/vars';

.header {
  background: var(--headerGradient);
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem;
}

.logo {
  width: 500px;
  max-width: 65%;
  height: auto;
  @media (--smallViewport) {
    max-width: 240px;
  }
}