@import '../styles/reset';
@import '../styles/typography';
@import '../styles/vars';

@media (--largeViewport) {
  :global(html),
  :global(body),
  :global(#__next),
  :global(#__next > *:nth-child(1)) {
    display: flex;
    height: 100%;
    flex-direction: column;
    overflow-y: visible;
  }
}

:root {
  --layoutSpacing: 1.5rem;
  --layoutBgPos: calc(-1 * var(--layoutSpacing));
}

.main {
  margin: var(--layoutSpacing);
  padding: var(--layoutSpacing);
  flex-grow: 10;
  position: relative;
  background-color: rgba(255,255,255,.8);
}

.mainBackground {
  background-image: url('/static/img/bg-img-3.jpg');
  background-size: cover;
  background-position: left;
  opacity: 1;
  top: var(--layoutBgPos);
  right: var(--layoutBgPos);
  bottom: var(--layoutBgPos);
  left: var(--layoutBgPos);
  position: absolute;
  z-index: -999;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modalContent {
  background: #fff;
  border: 1px solid var(--purpleLight);
  border-radius: 4px;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 4em 2em 2em;

  /* Layout */
  position: absolute;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  top: 5%;
  transform: translateX(-50%);
  width: 400px;
}

.closeModal {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.5em;
  top: 1.5em;

  & svg {
    fill: var(--purple);
    height: 1.5em;
    transition: fill ease-in-out .3s;
    width: 1.5em;
  }

  &:hover svg {
    fill: var(--purpleLight);
  };
}
