@import '../styles/reset';
@import '../styles/typography';
@import '../styles/vars';
@import './RankingSelector.css';
@import './RankingRow.css';
@import './RiderPageHeader.css';
@import './RiderPageWelcome.css';
@import './lib/AthleteHeader.css';
@import './charts/BaseChart.css';
@import '../pages/index.css';

:global(html),
:global(body),
:global(#__next),
:global(#__next > *:nth-child(1)) {
  display: flex;
  height: 100%;
  flex-direction: column;
  overflow-y: visible;
}

:global body {
  background: var(--headerGradient);
}

:root {
  --layoutSpacing: 1.5rem;
  --layoutBgPos: calc(-1 * var(--layoutSpacing));
}

.main {
  position: relative;
  flex-grow: 10;
  background-color: rgba(255,255,255,0.65);
}

.mainContainer {
  margin: var(--layoutSpacing) auto;
  max-width: 800px;
  padding: var(--layoutSpacing);

  @media (--smallViewport) {
    margin: 0;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.75);
}

.modalContent {
  background: #fff;
  border: 1px solid var(--purpleLight);
  border-radius: 4px;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 4em 2em 2em;

  /* Layout */
  position: absolute;
  left: 50%;
  max-height: 90%;
  max-width: 90%;
  top: 5%;
  transform: translateX(-50%);
  width: 400px;

  @media (--xsViewport) {
    max-width: none;
    max-height: 95%;
    width: 90%;
    top: 2.5%;
    padding: 2.5rem 1.15rem 1.15rem;

    & :global(h2) {
      margin-bottom: 1rem;
    }
  }
}

.closeModal {
  background: none;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 1.5em;
  top: 1.5em;

  & svg {
    fill: var(--purple);
    height: 1.5em;
    transition: fill ease-in-out .3s;
    width: 1.5em;
  }

  &:hover svg {
    fill: var(--purpleLight);
  };
}
