@import '../styles/vars';

.link {
  @apply --fadeLink;

  margin-right: 1.5rem;
  text-decoration: none;

  &:last-of-type {
    margin-right: 0;
  }

  @media (--smallViewport) {
    margin: 1rem 0 0;
  }
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (--smallViewport) {
    background: var(--headerGradient);
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 60px;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }
}

.hidden {
  display: none;
}

.menu {
  cursor: pointer;
  display: none;
  fill: rgba(255, 255, 255, 1);
  transition: fill ease-in-out .3s;

  &:hover {
    fill: var(--purpleLight);
  }

  @media (--smallViewport) {
    display: inherit;
  }
}
