@import '../styles/vars';

.link {
  @apply --fadeLink;

  margin-right: 1.5rem;
  text-decoration: none;

  @media (--smallViewport) {
    margin: 1rem 0 0;
    &:last-of-type {
      margin-bottom: 1rem;
    }
  }
}

.linksContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (--smallViewport) {
    background: var(--headerGradient);
    border-bottom: 2px solid var(--purple);
    padding: 0 1rem 1rem;
    position: absolute;
    right: 0;
    top: 99%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 999;
  }
}

.hideMobile {
  @media (--smallViewport) {
    display: none;
  }
}

.menu {
  cursor: pointer;
  display: none;
  fill: rgba(255, 255, 255, 1);
  transition: fill ease-in-out .3s;

  &:hover {
    fill: var(--purpleLight);
  }

  @media (--smallViewport) {
    display: inherit;
  }
}

.textButton {
  @apply (--fadeLink);
  background: none;
  border: none;
  cursor: pointer;
  font: var(--baseFont);
  padding: 0;
}

.searchUsersContainer {
  display: flex;
  & > *:first-child {
    margin-right: 1rem;
  }

  @media (--smallViewport) {
    margin: .5rem 0;
    justify-content: flex-end;
    width: 100%;
    max-width: 400px;
  }
}

.searchUsersField {
  text-align: left;

  @media (--largeViewport) {
    width: var(--searchUsersWidth);
  }

  @media (--smallViewport) {
    width: auto;
    flex-grow: 99;
  }
}