@import '../styles/vars';

.link {
  background-color: transparent;
  color: white;
  margin-right: 0.5em;
  padding: 0.5em;
  text-decoration: none;

  &:hover {
    color: var(--purpleLight);
    text-decoration: underline;
  }
}

.ctaLink {
  background-color: var(--purple);
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  &:hover {
    background-color: var(--purpleLight);
    color: white;
    text-decoration: none;
  }
}