.ranking-selector__container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 1rem auto;
}

.ranking-selector__container--selects {
  margin-right: 1rem;
}

.ranking-selector__button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.ranking-selector__label {
  line-height: 2.25rem;
  margin-right: .5rem;
}

.ranking-selector__select {
  width: 225px;
}
