@import '../styles/vars';

.ranking-row__table {
  width: 100%;

  & :global(tr) {
    background-color: white;
    border-bottom: 1px solid var(--purple);

    &:nth-of-type(1) {
    border-top: 1px solid var(--purple);
    }

    &:nth-of-type(even) {
      background-color: color(var(--purple) lightness(97%));
    }
  }

  & :global(td) {
    padding: 1rem;
    vertical-align: middle;

    &:last-of-type {
      text-align: right;
    }

    @media (--smallViewport) {
      padding: .7rem;
    }

  }
}

.ranking-row__first {
  font-weight: bold;
  color: var(--purple);
}
