.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto 1rem auto;
}

.selectsContainer {
  margin-right: 1rem;
}

.button {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.select {
  width: 225px;
}