@import '../styles/vars';

.riderPageHeader {
  display: flex;
  line-height: 1;

  @media (--largeViewport) {
    align-items: baseline;
    justify-content: center;
  }

  @media (--smallViewport) {
    flex-direction: column;
    align-items: center;
  }
}

.riderPageHeader_athleteHeader {
  font-weight: bold;
}

.riderPageHeader_info {
  &::before {
    content: '/ ';
    font-weight: 700;
    color: var(--purple);
  }

  @media (--largeViewport) {
    transform: translateY(-14px);
    margin-left: 1.5rem;
  }

  @media (--smallViewport) {
    display: block;
    margin-bottom: 1rem;

    &:first-of-type {
      margin-top: 1rem;
    }
  }
}