.special-ranking-info__container {
  text-align: center;
  margin-bottom: 1rem;
}

.special-ranking-info__cold2019--outer {
  display: flex;
  justify-content: center;
  text-align: initial;
  margin-top: 1rem;
}

.special-ranking-info__cold2019--inner {
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-right: 1.5rem;
  }
}

.special-ranking-info__button--icon {
  & svg {
    width: 1rem;
    height: 1rem;
    margin-left: .5rem;
  }

  &:hover svg {
      fill: white;
  }
}

.special-ranking-info__points--key {
  width: 30px;
  margin-right: 20px;
  display: inline-block;
}
