@import '../styles/vars';

:global(.home__hide) {
  opacity: 0 !important;
}

:global(.home__display-none) {
  display: none;
}

.home__block,
.home__block--big {
  display: block;
  opacity: 1;
  transition: opacity ease-in-out 1s;
}

.home__block--big {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;
}

.home__one {
  transition-delay: 0s;
  margin-bottom: .75rem;
}

.home__two {
  transition-delay: 1s;
  margin-bottom: 2.5rem;
}

.home__three {
  transition-delay: 3.5s;
}
