@import '../styles/vars';


.home__background {
  position: absolute;
  top: 5%;
  right: 5%;
  bottom: 5%;
  left: 5%;
  opacity: .25;
}

.home__background--svg {
  height: 100%;
  width: auto;
  max-width: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
/**
 * @todo Use keyframe animate to avoid setTimeout
 * @todo Vertically center content in page
 */
.home__block {
  opacity: 1;
  transition: opacity ease-in 1s;

  @media (--largeViewport) {
    margin-bottom: .75rem;

    &:nth-of-type(2) {
      margin-bottom: 2.5rem;
    }
  }
}

.home__big {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 2px;

  @media (--largeViewport) {
    display: block;
  }
}

.home__mobilespacer {
  &::before {
    content: '\00A0';
  }

  @media (--largeViewport) {
    display: none;
  }
}

.home__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;

  & > :global(p:first-of-type) {
    margin-bottom: 2.5rem;
  }
}

.home__transparent {
  opacity: 0;
}
