@import '../../../styles/vars';

.RankingMenu__outer {
  transition: max-height .5s linear;
  max-height: 150px;
  display: flex;
  justify-items: center;

  @media (--smallViewport) {
    max-height: 350px;
  }
}

.RankingMenu__outer--collapsed {
  max-height: 0;

  & .RankingMenu__container {
    overflow-y: hidden;
  }
}

.RankingMenu__container {
  margin: 0 auto 1.25rem auto;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: flex-start;

  @media (--smallViewport) {
    flex-direction: row;
  }
}

.RankingMenu__row {
  margin-bottom: 1rem;
  flex-basis: 100%;
  @media (--smallViewport) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  & > :nth-child(n) {
    margin-right: .5rem;
    display: block;
    @media (--smallViewport) {
      margin-bottom: 1rem;
    }
  }

  & :last-child {
    margin-right: 0;
    @media (--smallViewport) {
      margin-bottom: 0;
    }
  }
}
