@import '../../../styles/vars';

.RankingMenu__outer {
  transition: max-height .3s linear, opacity .1s linear .3s;
  max-height: 150px;
  display: flex;
  justify-items: center;
  opacity: 1;
  @media (--smallViewport) {
    max-height: 350px;
  }
}

.RankingMenu__outer--collapsed {
  max-height: 0;
  opacity: 0;
  & .RankingMenu__container {
    overflow-y: hidden;
  }
}

.RankingMenu__container {
  margin: 0 auto 1.25rem auto;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  align-items: flex-start;

  @media (--smallViewport) {
    flex-direction: row;
  }
}

.RankingMenu__container--center {
  align-items: center;
  @media (--smallViewport) {
    justify-content: center;
  }
}


.RankingMenu__row {
  margin-bottom: 1rem;
  flex-basis: 100%;
  @media (--smallViewport) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &:last-of-type {
    @media (--smallViewport) {
      border-left: 1px solid var(--purple);
      padding-left: .5rem;
    }
  }

  & > :nth-child(n) {
    margin-right: .5rem;
    @media (--smallViewport) {
      margin-bottom: 1rem;
    }
  }

  & :last-child {
    margin-right: 0;
    @media (--smallViewport) {
      margin-bottom: 0;
    }
  }
}

.RankingMenu__filtertoggle {
  @apply --fadeLink;
  @apply --button;

  text-decoration: none;
  padding: 0.5rem;
  background: none;
  border: 1px solid var(--purpleDark);
  color: var(--purpleDark);
}
