@import './vars.css';

body {
  color: #000;
  font: var(--baseFont);
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;

  @media (--smallViewport) {
    font-size: 1.7rem;
  }
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.25rem;

  @media (--smallViewport) {
    font-size: 1.4rem;
  }
}

h3 {
  font-size: 1.45rem;
  font-weight: 700;
  margin-bottom: 1.1rem;

  @media (--smallViewport) {
    font-size: 1.3rem;
  }
}

h4 {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;

  @media (--smallViewport) {
    font-size: 1.1rem;
  }
}

p {
  margin-bottom: 1rem;
}

:global(.big) {
  font-size: 1.25rem;
  @media (--smallViewport) {
    font-size: 1.15rem;
  }
}

:global(.bigger) {
  font-size: 1.5rem;
  @media (--smallViewport) {
    font-size: 1.3rem;
  }
}

:global(.biggest) {
  font-size: 1.75rem;
  @media (--smallViewport) {
    font-size: 1.5rem;
  }
}

:global(.small) {
  font-size: .9rem;
}

strong {
  font-weight: 700;
}

a,
:global(.link) {
  color: var(--purple);
  &:hover {
    color: var(--purpleDark);
    text-decoration: none;
  }
}

:global(.strava_link) {
  color: #FC4C02;
  font-size: .85em;
  text-decoration: none;
  &:hover {
    color: color(#FC4C02 lightness(65%));
    text-decoration: underline;
  }
}

:global(.version-link) {
  color: var(--purpleLight);
  font-size: .85em
}
