@import './vars.css';

body {
  font: 16px/1.5 system-ui;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.25rem;

  @media (--smallViewport) {
    font-size: 1.4rem;
  }
}

p {
  margin-bottom: 1rem;
}