:root {
  --purple: #6100FF;
  --purpleLight: color(var(--purple) lightness(65%));
  --yellow: #FFD323;
  --headerGradient: linear-gradient(to right, var(--purple), var(--yellow));
  --fadeLink: {
    color: white;
    transition: color ease-in-out .3s;
    &:hover {
      color: var(--purpleLight);
    }
  };
  --button: {
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color ease-in-out .3s;
    &:hover {
      background-color: var(--purpleLight);
      color: white;
      text-decoration: none;
    }
  };
}

@custom-media --smallViewport (max-width: 799px);