:root {
  --baseSize: 16px;
  --baseFont: var(--baseSize)/1.5 'Arvo', serif;
  --purple: #6100FF;
  --purpleLight: color(var(--purple) lightness(65%));
  --purpleDark: #450082;
  --yellow: #FFD323;
  --headerGradient: linear-gradient(to right, var(--purpleLight), var(--yellow));
  --searchUsersWidth: 320px;
  --fadeLink: {
    color: white;
    transition: color ease-in-out .3s;
    & svg {
      fill: white;
      transition: fill ease-in-out .3s;
    }
    &:hover {
      color: var(--purpleLight);
      & svg {
        fill: var(--purpleLight);
      }
    }
  };
  --button: {
    background-color: var(--purple);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    transition: background-color ease-in-out .3s;
    &:hover {
      background-color: var(--purpleLight);
      color: white;
      text-decoration: none;
    }
  };
  --appendSpace: {
    white-space: pre;
    &::after {
      content: ' ';
    }
  }
}

@custom-media --smallViewport (max-width: 799px);
@custom-media --largeViewport (min-width: 800px);